extends ../layout/index

block content
    main.container.mt-5
        .row
            .col-md-5
                img.img-fluid(src="/img/about.jpg", alt="About us")

            .col-md-7
                h1 #{pageTitle}
                blockquote Sai Srinivas Sriparasa is a web developer and an open source evangelist living
                in the Stamford area. Sai was the lead developer for building Dr. Oz’s website, and
                has led teams for companies such as Sprint Nextel, West Interactive, and Apple. Sai’s
                repertoire includes JavaScript, PHP, Python, HTML5, responsive web development,
                ASP and Silverlight.
                p I want to convey my sincere thanks to the team at Packt Publishing
                 this book possible, Shaon, Akash, and Sumeet in
                particular ddffThis is my first book, so I want to thank all of the readers
                in advance for having taken the time to read my book. Please
                contact me on my
                p I want to convey my sincere thanks to the team at Packt Publishing
                ssthis book possible, Shaon, Akash, and Sumeet in
                particular This is my first book, so I want to thank all of the readers
                in advance for having taken the time to read my book. Please
                contact me on my.
    .icon-list
        .container.mt-5.py-5.text-center
            .row
                .col-md-4
                    img(src="/img/icon_trust.svg", class="img-fluid mb-4")
                    h2.mb-4 Trust & Safety
                    p t is a long established fact that a reader will be distracted by 
                    the readable content of a page when looking at its layout. The point of using
                    Lorem Ipsum is that it has a more-or-less normal distribution of letters, as
                    opposed to using 'Content here, content here', making it look like readable English.
                .col-md-4
                    img(src="/img/icon_destiny.svg", class="img-fluid mb-4")
                    h2.mb-4 Best Destiantion
                    p t is a long established fact that a reader will be distracted by the readable content of 
                    a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less
                    normal distribution of letters,
                    as opposed to using 'Content here, content here', making it look like readable English.  
                .col-md-4
                    img(src="/img/icon_price.svg", class="img-fluid mb-4")
                    h2.mb-4 Best Price
                    p t is a long established fact that a reader will be distracted by the
                    readable content of a page when looking at its layout. The point of using Lorem
                    Ipsum is that it has a more-or-less normal distribution of 
                    letters as opposed to using 'Content here, content here', making it look like readable English.